<!doctype html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <style>
      div {
        margin: 10px;
        padding: 10px;
      }

      .pinkBG {
        background-color: lightpink;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <div id="message">
      <input type="text" v-model="inputText" />
      <p v-bind:style="{ backgroundColor: 'lightblue' }">Input Text: {{inputText}}</p>
      <li
        v-bind:style="{ backgroundColor: 'lightyellow' }"
        v-for="shape in listOfShapes"
        :key="shape"
      >
        {{shape}}
      </li>
      <div v-if="showOriginalMessage" v-bind:class="vueAppClass">{{textMessage}}</div>
      <div v-else>{{errorMessage}}</div>
    </div>
    <script type="module" src="/src/main.ts"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </body>
</html>
